.format-footer {
    padding: 20px;
    color: #FFFFFF;
}

nav {
    background-color: #e0e0e0 !important;
}

.pagination li.active {
    height: auto;
    background-color: #bdbdbd !important;
}

.pagination li.active a {
    color: #000000 !important;
}

a.profile:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.suffix {
    position: absolute;
    right: 0;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
    top: .5rem;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    opacity: 0.6;
}

.toats-menu {
    height: 50px;
    text-align: center;
}

.alert {
    position: relative;
    padding: .70rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.full-height {
    margin-top: 60px;
    margin-bottom: 80px;
}

.font-12 {
    font-size: 12px;
}

.format-img-login {
    margin-top: -30px;
    margin-left: 10px;
}

hr {
    opacity: 0.4;
    margin: 0 0 20px;
}

small {
    font-weight: 600;
}

.vertical-line {
    border-left: 1px solid #949494;
}

.margin-searchbar {
    margin-top: 50px;
    margin-bottom: 30px;
}

.nav-height {
    height: 150px;
}

.nav-img-height {
    margin-top: -64px;
    height: 120px !important;
}

.nav-menu-height {
    margin-top: 45px;
}

.text-default {
    color: #0097a7 !important;
}

.flex-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}